.dark {
    /* dark */
    --bg-col: #111;
    --txt-col: #ffffff;
    --card-col: #222;
    --card-border-col: #DDD;
    --badge-col: #fff;
    --badge-border: #000;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.chillax {
    font-family: 'Chillax', sans-serif;
}

.trebuchet {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sora {
    font-family: 'Sora', sans-serif;
}

.comic-sans {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #222;
}