<!DOCTYPE html>
<html>

<head>
    {% include './includes/head.html' %}
    <title>Home - dark.bio</title>
    <link href="/static/css/public/home.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="app">
        <div class="main">
            <div class="navbar">
                <div class="brand"><a href="https://dark.bio"><img src="https://cdn.dark.bio/img/site/darksanta.png"></a>
                </div>
                <div class="buttons">
                    <a href="#features" style="margin-right: 5px;" class="small">Features</a>
                    <a href="/discord" class="small">Support</a>
                    <a href="/login" class="button" style="margin-left: 5px;">Login</a>
                    <a href="/register" class="button">Register</a>
                </div>
            </div>
            <div class="bbreak"></div>
            <div class="bbreak"></div>
            <div class="section column">
                <div class="center column">
                    <h3 class="wrap">THE #1 BIOLINK SERVICE</h3>
                    <div class="sbreak"></div>
                    <h1 class="wrap">dark.bio</h1>
                    <div class="sbreak"></div>
                    <h2 class="wrap">All your socials, only one click away</h2>
                    <div class="break"></div>
                    <div class="relative">
                        <div class="pulse"></div>
                        <a class="big-button" href="/register">
                            Register Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="bbreak"></div>
            <div class="section column" id="features">
                <div class="bbreak"></div>
                <div class="cards">
                    <div class="card">
                        <h3>UI</h3>
                        <h4>Our edit page is built to resemble a actual page so you can easily vision what your page
                            will look like.</h4>
                    </div>
                    <div class="card">
                        <h3>Customizablility</h3>
                        <h4>Our goal is to make almost every aspect of dark.bio customizable.</h4>
                    </div>
                    <div class="card">
                        <h3>Support</h3>
                        <h4>If you ever need support, join our discord server below and we'll be happy to assist you.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="section column">
                <h2 class="wrap">Join our Discord Server!</h2>
                <div class="break"></div>
                <a class="big-button" href="/discord">Discord</a>
            </div>
        </div>
        <div class="bbreak"></div>
        <div class="footer">
            <div class="flex center row gap">
                <img class="logo" src="https://cdn.dark.bio/img/site/darksanta.png">
                <h3 class="wrap">dark.bio</h3>
            </div>
            <div class="flex gap row center">
                <a class="flex center" href="/privacy">Privacy</a>
                <a class="flex center" href="/terms">Terms</a>
                <a class="flex center" href="/discord">Support</a>
            </div>
        </div>
</body>

</html>