<!DOCTYPE html>
<html>

<head>
    {% include './includes/head.html' %}
    <title>Privacy - dark.bio</title>
    <link href="/static/css/public/constants.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/public/terms.css" rel="stylesheet" type="text/css" />
</head>
    
<body>
    <div class="app">
        <p class="header">Privacy Policy</p>
        <div class="row">
            Information collected includes
Username, which is stored as plain text.
Password, which is stored as a hash using the “bcrypt” algorithm.
IP, which is stored as plain text.
Email, which is stored as plain text.
        </div>
        <div class="row">
            We keep your privacy safe. Which means we do not
Give or sell your information to third parties
Keep your information public
Allow people to view your information
        </div>
        <div class="row">
            With your information we will
Keep a unique identifier, to protect your account
Store your information properly
Make sure the data is completely accurate
Don’t store it for longer than it is needed
Keep it confidential, and secure to the best of our ability
        </div>
        <div class="row">
            <p class="title">Security</p>
            <p>We take many precautions to make sure our users' data is kept secure. In case of a data leak, the endpoint in which access will be temporarily closed for fixing. We monitor our data thoroughly to try and detect any unknown entries to the database. We try to keep as little information as possible, to make sure we don't have anything too important that can ruin someone. Your identity, and your account will be kept as safe as we can possibly keep it.</p>
        </div>
        <div class="row">
            <p class="title">Safety</p>
            <p>We take measures to prevent harmful sites from being displayed on our site. If you see something that you think doesn't fit on the site, feel free to contact us. It is our priority to make sure our users have a safe environment for their needs. Of course we can't exactly filter everything, so if you feel that something should be removed, don’t visit their page anymore.</p>
        </div>
        <div class="row">
            <p class="title">Children</p>
            <p>Children under 13 should not be on our platform. We can not exactly know the age of our user, so data collected from a child under 13 isn't on purpose, and will be removed if and when notified. If you are a parent or guardian with a child who has accessed our website, feel free to contact us immediately to have the issue resolved.</p>
        </div>
        <div class="row">
            <p class="title">Changes to our Privacy Policy</p>
            <p>We may update our privacy periodically, and when or during updates, accounts will receive a notification through our website of the upcoming changes. We will not notify you via email unless you have allowed us to do so.</p>
        </div>
        <div class="row">
            <p>Any other questions can be asked through https://dark.bio/discord</p>
        </div>
    </div>
</body>
    
</html>
