<!DOCTYPE html>
<html>

<head>
    {% include './includes/head.html' %}
    <title>Terms - dark.bio</title>
    <link href="/static/css/public/constants.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/public/terms.css" rel="stylesheet" type="text/css" />
</head>
    
<body>
    <div class="app">
        <p class="header">Terms of Service</p>
    <div class="row">
        <div class="title"><p>Agreeing to our Terms of Service</p></div>
        <div class="description"><p>By using the dark.bio, you hereby accept our Terms Of Service. Some material on this website may be protected by copyright and trademark law. By copying our design or code for commercial purposes is strongly prohibited and could result in blacklist and or account termination.</p></div>
    </div>
    <div class="row">
        <div class="title"><p>Images and Videos</p></div>
        <div class="description"><p>You are responsible for the content that you put on dark.bio, including its legality, reliability, and appropriateness. Any form of harassment, discrimination, racism, vulgar, profane, sexual, or slurs of any kind can result in blacklist and or account termination. By agreeing to our Terms of Service, you agree that we may remove your content or entire page for any reason.</p></div>
    </div>
    <div class="row">
        <div class="title"><p>Age</p></div>
        <div class="description"><p>By agreeing to our Terms of Service, you must be 13 years of age or older to create a account and or use dark.bio. We hold the right to blacklist and our terminate your account if you do not follow this rule.</p></div>
    </div>
    <div class="row">
        <div class="title"><p>Our rights</p></div>
        <div class="description"><p>dark.bio has the right to update and or modify and delete any content on our site including the Terms of Service, Privacy Policy, usernames, badges, and content (links, videos, text, music, etc.) on a page.</p></div>
    </div>
</body>
    
</html>